/* CSS for the articles */

/**** ARTICLE ****/
#article_informations {
	font-size: 12px;
	color: #000;
}

#content {
	padding-top: 10px;
	color: #000;
}

#content * {
	color: #000;
}

#content p {
	padding-top: 10px;
}

#article_tags {
	margin-top: 10px;
}

#article_share {
	margin-top: 10px;
}
