/* CSS for the articles */

/**** ARTICLE ****/
#article_informations {
	font-size: 12px;
	color: #000;
}

#content {
	padding-top: 10px;
	color: #000;
}

#content p {
	padding-top: 10px;
	color: #000;
}

#content a {
	color: #808080;
}

#article_tags {
	margin-top: 10px;
}

#article_share {
	margin-top: 10px;
}

.code {
	padding: 10px;
	border: 1px solid #a0a0a0;
	background: #f0f0f0;
	font-family: Monaco, "Courier New", monospace;
	overflow: scroll;
}
