/* CSS only for the blog */

/* titles etc. */
h2 {
	margin-top: 15px;
}

h3 {
	margin-top: 10px;
}

h4 {
	margin-top: 7px;
}

#left_column_wrapper {
	float: left;
	width: 600px;
	overflow: hidden;
	position: relative;
}

#right_column_wrapper {
	float: right;
	width: 350px;
	overflow: hidden;
}

#right_column {
	padding-left: 50px;
}

#right_column ul {
	list-style-type: none;
}

#right_column li {
	display: inline;
}

#contact a:hover {
	text-decoration: none;
}

.right_link li {
	color: #000;
	padding-left: 2px;
}

a.no_decoration:hover {
	text-decoration: none;
}

/* Twitter widget */
.twtr-doc {
	border: none;
}

.twtr-hd {
	display: none;
}

.twtr-timeline {
	margin-top: 1px;
}
