/* CSS only for the blog */

/* titles etc. */
h2 {
	margin-top: 15px;
}

#left_column_wrapper {
	float: left;
	width: 600px;
	overflow: hidden;
	position: relative;
}

#right_column_wrapper {
	float: right;
	width: 200px;
	overflow: hidden;
	position: relative;
}

#right_column {
	padding-left: 10px;
}

#right_menu {
}

#right_column ul {
	list-style-type: none;
}

#right_column li {
}
