/* 
 * Main CSS for the site
 */

/* fonts */
@font-face {
	font-family: "Museo-500";
	src: url('/site_media/fonts/Museo/Museo-500.woff') format('woff'), url('/site_media/fonts/Museo/Museo-500.svg#Museo-500') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Museo-700";
	src: url('/site_media/fonts/Museo/Museo-700.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "MuseoSans-500";
	src: url('/site_media/fonts/MuseoSans/MuseoSans-500.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: Fontin;
	src: url('/site_media/fonts/Fontin/Fontin-Regular.otf') format('opentype');
}

/* Global declarations */
body {
	padding: 0px;
	margin: 0px;
}

* {
	padding: 0px;
	margin: 0px;
	color: #808080;
	font-family: "Museo-500", Helvetica;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

a:visited {
}

/* Header */
#header {
	height: 40px;
	width: 100%;
	position: fixed;
	z-index: 100;
}

#header_bg {
	height: 100%;
	width: 100%;
	left: 0px;
	background: #000;
	top: 0px;
	position: absolute;
}

#header * {
	color: #fff;
}

#left_header {
	float: left;
	position: relative;
	padding-left: 20px;
}

#left_header * {
	display: inline;
}

#blog_title {
	font-size: 2em;
}

#right_header {
	float: right;
	position: relative;
	padding-right: 20px;
}

#top_menu {
	text-transform: uppercase;
}

#top_menu ul {
	margin: 0px;
	list-style-type: none;
}

#top_menu li {
	padding: 10px;
	display: inline;
	float: right;
	color: #fff;
}

/* Center wrapper */
#center {
	width: 950px;
	margin: 0px auto 0px 100px;
	padding: 40px 0px 0px 0px;
}

/* Footer */
#footer {
	padding: 20px 0px;
	text-align: center;
	clear: both;
	font-size: 12px;
	color: #a0a0a0;
	position: rflative;
}
