{% extends 'layout/blog_base.html' %}

{% block title %}{{ article_entry.title }} || {% endblock %}

{% block extrakeywords %}{% for tag in article_entry.tag.all %}, {{ tag.name }}{% endfor %}{% endblock %}
{% block extracss %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/article.css" media="screen" />{% endblock %}

{% block content %}
<div id="article">
  <div id="article_header">
    <h2> {{ article_entry.title }} </h2>
    <div id="article_informations">
      {% with article_entry.date as article_date %}
      Written on the {{ article_date|date:"dS F Y" }} at {{ article_date|time:"H:i" }} by <a href="{{ article_entry.author.get_absolute_url }}">{{ article_entry.author.user.username }}</a>
      {% endwith %}
    </div>
  </div>
  <div id="content">
    {{ article_entry.content|safe }}
  </div>
  <div id="article_tags">
    <span id="tags_word">Tags :</span>
    {% for tag in article_entry.tag.all %}
    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
    {% endfor %}
  </div>
  <div id="article_share">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="vicould">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
</div>
{% if article_entry.allow_comments %}
<div id="comments_wrapper">
  <h3><a href="#comments">Comments</a></h3>
  <div id="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'ludosblog'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    var disqus_identifier = '{{ article_entry.id }}';
    var disqus_url = '{{ current_url }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
</div>
{% endif %}
{% endblock %}
