{% extends 'layout/base.html' %}

{% block content %}
<div id="article">
  <h2> {{ article_entry.title }} </h2>
  <div id="article_informations">
    Written on the {{ article_entry.date|date:"d F Y" }} at {{ article_entry.date|time:"H:i" }} by <a href="/authors/{{ article_entry.author }}">{{ article_entry.author }}</a>
  </div>
  <div id="content">
    {{ article_entry.content|safe }}
  </div>
</div>
<div id="comments">
  <a href="#comments">Comments</a>
  {% load comments %}
  {% get_comment_count for article_entry as comment_count %}
  {% if comment_count = 0 %}
  <p>No one commented this entry yet</p>
  {% else %}
  {% render_comment_list for article_entry %}
  {% endif %}
</div>
<div id="comment_form">
  {% if article_entry.allow_comments %}
    {% render_comment_form for article_entry %}
  {% else %}
    Comments are closed.
  {% endif %}
</div>
{% endblock %}
