{% extends 'layout/base.html' %}

{% block content %}
<div id="article">
  <h2> {{ article_entry.title }} </h2>
  <div id="article_informations">
    Écrit le {{ article_entry.date|date:"d F Y" }} à {{ article_entry.date|time:"H:i" }} par <a href="/authors/{{ article_entry.author }}">{{ article_entry.author }}</a>
  </div>
  <div id="content">
    {{ article_entry.content|safe }}
  </div>
</div>
<div id="comments">
  <a href="#comments">Commentaires</a>
  {% load comments %}
  {% get_comment_count for article_entry as comment_count %}
  {% if comment_count = 0 %}
  <p>Personne n'a encore commenté cette page.</p>
  {% else %}
  {% render_comment_list for article_entry %}
  {% endif %}
</div>
{% if article_entry.allow_comments %}
<div id="comment_form">
  {% render_comment_form for article_entry %}
</div>
{% endif %}
{% endblock %}
