{% extends 'layout/blog_base.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/html" href="{{ MEDIA_URL }}/css/category_list.css" media="screen" />
{% endblock %}

{% block content %}

{% if related_articles_list %}
  <div id="article_list">
  <h2>Articles</h2>
  {% for article in related_articles_list %}
    <div class="article_{% cycle 'even' 'odd' %}">
      <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
      <div class="article_informations">
        written by <a href="{{ article.author.get_absolute_url }}">{{ article.author }}</a> on the {{ article.date|date:"dS F Y" }}
      </div>
      <p class="article_abstract">{{ article.extract }}</p>
    </div>
  {% endfor %}
  </div>
{% endif %}

{% if related_pages_list %}
  <div id="page_list">
  <h2>Pages</h2>
  {% for page in related_pages_list %}
    <div class="page_{% cycle 'even' 'odd' %}">
      <h3><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h3>
      <div class="page_informations">
      </div>
      <p class="page_abstract">{{ page.extract }}</p>
    </div>
  {% endfor %}
  </div>
{% endif %}

{% endblock %}
