<!DOCTYPE HTML>
<html>
  <head>
    <title>Ludo's blog</title>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="/site_media/css/style.css" media="screen" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="ludovic, delaveau, blog, tech, geek" />
    <link rel="stylesheet" href="/site_media/css/page.css" media="screen" />
    <!--<link rel="icon" href="/site_media/icons/favicon.png" />-->

    
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17616512-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </head>
  <body>
    <div id="main_wrapper">
      <div id="header">
        <div id="header_bg"></div>
        <div id="left_header">
          <div id="title">

            <span id="blog_title"><a href="/" title="Geeky and real life stuff">Ludo's Blog</a></span>
            <!--<span id="subtitle">Geeky and real-life stuff</span>-->
          </div>
        </div>
        <div id="right_header">
          <div id="top_menu">
            

            
            <ul>
              
              <li><a href="/">Home</a></li>

              
              <li><a href="/categories">Categories</a></li>
              
              <li><a href="/pages/About">About</a></li>
              
            </ul>
          </div>
        </div>
      </div>
      <div id="center">
        

<h2>About</h2>
<div id="content">
  <p>It seems you are trying to learn more about me, well, let's go. Hello I am Ludovic Delaveau !</p>
<p>For the moment I am still student in computer science in the École des Mines de Saint-Étienne, right <a title="here" href="http://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=école+des+mines+de+saint-étienne&amp;sll=46.75984,1.738281&amp;sspn=7.45132,17.53418&amp;ie=UTF8&amp;hq=école+des+mines&amp;hnear=Saint-Etienne,+Loire,+Rhône-Alpes&amp;ll=45.428395,4.388351&amp;spn=0.029817,0.101194&amp;t=h&amp;z=14&amp;iwloc=A&amp;cid=12374306630623482818" target="_blank">here</a> : it's in France, not far from Lyon in case it might interest you.</p>
<p>As you might have seen I am kind of a geek, interested by simple and good code. Code which might be in Python, Objective-C, as well as Java (learned at school, and used in an internship). I have been system and network administrator in my hall of residence during one year, and I gained there a lot of experience I will try to share. I was responsible with Benjamin Loulier (see blog roll) for ten servers under various flavors of Unix, and for more than three hundred students.</p>
<p>Apart from these geeky activities, I am rather interested in design (it was my minor during grad school). I also like photography (come and see my flickr, until I make a gallery also here) and architecture. I enjoy riding mountain bike when I am home (it's near Grenoble, <a href="http://maps.google.fr/maps?f=q&source=s_q&hl=fr&geocode=&q=Saint-Nicolas-de-Macherin&sll=46.75984,1.738281&sspn=7.903002,16.54541&ie=UTF8&hq=&hnear=Saint-Nicolas-de-Macherin,+Is%C3%A8re,+Rh%C3%B4ne-Alpes&ll=45.401885,5.607233&spn=0.031639,0.064631&t=h&z=14&iwloc=A">there</a>), as well as hiking, climbing and skiing.</p>

</div>


      </div>
      <div id="footer">
        Powered by <a href="http://www.djangoproject.com">django</a>, find the app on <a href="http://github.com/vicould/ludo_s_site">Github</a>
      </div>
    </div>

  </body>
 </html>

