{% extends 'layout/blog_base.html' %}

{% block extracss %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/list.css"/>{% endblock %}

{% block content %}
<div id="archive">
  {% for article in object_list %}
  <div class="article_{% cycle 'even' 'odd' %}">
    <div class="content_list">
      <div class="article_informations_wrapper">
        <div class="article_informations">
          <div class="date_list">
            <span class="year"><a href="{{ article.date.year }}">{{ article.date.year }}</a></span>    
            <span class="month"><a href="{{ article.date.year }}/{{ article.date|date:"m" }}">{{ article.date|date:"M" }}</a></span>
            <span class="day">{{ article.date|date:"d" }}</span>
          </div>
        </div>
      </div>
      <div class="article_content_wrapper">
        <div class="article_content">
          <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
          <div class="author_informations">
            {% block informations %}
            written by <a href="{{ article.author.get_absolute_url }}">{{ article.author.user.username }}</a> in <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a>
            {% endblock %}
          </div>
          <p class="article_abstract">{{ article.excerpt }}</p>
          <div class="article_tags">
            <ul>
              {% for tag in article.tag.all %}
              <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="between_articles"></div>
  {% empty %}
  <p id="no_archive_found">
  Sorry, no articles yet for this {% block archive_type %}{% endblock %}.
  </p>
  {% endfor %}
</div>
{% endblock %}
