{% extends 'layout/base.html' %}

{% block content %}
<div id="archive">
{% if object_list %}
	{% for article in object_list %}
	<div class="article">
    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
    <div class="article_informations">Écrit par <a href="{{ article.author.get_absolute_url }}">{{ article.author }}</a> dans <a href="{{ article.category.get_absolute_url }}">{{ article.category }}</a></div>
		<p class="article_abstract">{{ article.extract }}</p>
	</div>
	{% endfor %}
{% else %}
  <p id="no_archive_found">
    Désolé, il n'y a pas encore d'article pour ce{% block archive_type %}{% endblock %}.
  </p>
{% endif %}
</div>
{% endblock %}
