<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{% endblock %}Ludo's blog</title>
    <meta http-equiv="Content-Type" content="text/html, charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" media="screen" />
    <link rel="icon" href="{{ MEDIA_URL }}favicon.png" />
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div id="main_wrapper">
      <div id="header">
        <div id="title">
          <h1><a href="/">Ludo's Blog</a></h1>
          Geeky and real-life stuff
        </div>
        <div id="top_menu">
          {% load menu %}

          {% top_menu_content as top_menu_list %}
          <ul>
            {% for menu in top_menu_list %}
            <li><a href="{{ menu.get_absolute_url }}">{{ menu.element }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="center">
        {% block wrapper_content %}{% endblock %}
      </div>
      <div id="footer">
      </div>
    </div>
  </body>
 </html>
