{% extends 'layout/base.html' %}

{% block extracss %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/blog.css" media="screen" />{% endblock %}

{% block wrapper_content %}
<div id="left_column">
  {% block content %}{% endblock %}
</div>
<div id="right_column">
  <div id="contact">
    <h2>Keep in touch !</h2>
    <ul>
      <li>On <a href="http://twitter.com/vicould/">Twitter</a></li>
      <li>On <a href="http://github.com/vicould/">Github</a></li>
      <li>On <a href="http://flickr.com/photos/vicould/">Flickr</a></li>
    </ul>
  </div>
  <div id="right_menu">
    <h2>Menu</h2>
  </div>
  <div id="Blog roll">
    <h2>Blog roll</h2>
    <ul>
      <li><a href="http://www.benjaminloulier.com">Benjamin Loulier</a></li>
    </ul>
  </div>
</div>
{% endblock %}
