{% extends 'layout/base.html' %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blog.css" media="screen" />
{% block extracss %}{% endblock %}{% endblock %}

{% block wrapper_content %}
<div id="left_column_wrapper">
  <div id="left_column">
    {% block content %}{% endblock %}
  </div>
</div>
<div id="right_column_wrapper">
  <div id="right_column">
    <div id="contact">
      <h2 class="first_element" >Keep in touch !</h2>
      <ul>
        <a class="right_link" href="/latest/feed/"><li><img src="{{ MEDIA_URL }}icons/rss.png" title="Via RSS" /></li></a>
        <a class="right_link" href="http://twitter.com/vicould/"><li><img src="{{ MEDIA_URL }}icons/twitter.png" title="On Twitter" /></li></a>
        <a class="right_link" href="http://www.flickr.com/photos/vicould/"><li><img src="{{ MEDIA_URL }}icons/flickr.png" title="On Flickr" /></li></a>
        <a class="right_link" href="http://github.com/vicould/"><li><img src="{{ MEDIA_URL }}icons/github.png" title="On Github" /></li></a>
      </ul>
    </div>
    {% load menu %}
    {% side_menu_content as side_menu_list %}
    {% if side_menu_list %}
    <div id="right_menu">
      <h2>Menu</h2>
    </div>
    {% endif %}
    <div id="tag_cloud">
      <a href="/tags" class="no_decoration"><h2>Tag cloud</h2></a>
      {% load tag_utils %}
      {% load extra_filters %} 
      {% tag_cloud as tags %}
      <ul>
        {% for tag, weight in tags.items %}
        <li style="font-size: {{ weight|tag_size:'50' }}px;"><a class="right_link" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="twitter_stream">
      <h2>Tweet !</h2>
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
new TWTR.Widget({
version: 2,
type: 'profile',
rpp: 6,
interval: 6000,
width: 250,
height: 300,
theme: {
shell: {
background: '#333333',
color: '#ffffff'
},
tweets: {
background: '#f0f0f0',
color: '#000000',
links: '#a0a0a0'
}
},
features: {
scrollbar: false,
loop: false,
live: true,
hashtags: true,
timestamp: true,
avatars: false,
behavior: 'all'
          }
}).render().setUser('vicould').start();
      </script>
    </div>
    <div id="blog_roll">
      <h2>Blog roll</h2>
      <ul>
        <a class="right_link" href="http://www.benjaminloulier.com"><li>Benjamin Loulier</li></a>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
