{% extends 'layout/base.html' %}

{% block extra_css %}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/blog.css" media="screen" />
{% block extracss %}{% endblock %}{% endblock %}

{% block wrapper_content %}
<div id="left_column_wrapper">
  <div id="left_column">
    {% block content %}{% endblock %}
  </div>
</div>
<div id="right_column_wrapper">
  <div id="right_column">
    <div id="contact">
      <h2>Stay in touch !</h2>
      <ul>
        <a class="right_link" href="/latest/feed/"><li>Via RSS</li></a>
        <a class="right_link" href="http://twitter.com/vicould/"><li>On Twitter</li></a>
        <a class="right_link" href="http://github.com/vicould/"><li>On Github</li></a>
        <a class="right_link" href="http://www.flickr.com/photos/vicould/"><li>On Flickr</li></a>
      </ul>
    </div>
    <div id="right_menu">
      <h2>Menu</h2>
    </div>
    <div id="blog_roll">
      <h2>Blog roll</h2>
      <ul>
        <a class="right_link" href="http://www.benjaminloulier.com"><li>Benjamin Loulier</li></a>
      </ul>
    </div>
    <div id="tag_cloud">
      <h2>Tag cloud</h2>
      {% load tag_utils %}
      {% load extra_filters %} 
      {% tag_cloud as tags %}
      <ul>
        {% for tag, weight in tags.items %}
        <li style="font-size: {{ weight|tag_size:'50' }}px;"><a class="right_link" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
