{% extends 'layout/blog_base.html' %}

{% block content %}
<div id="archive">
  {% if pages_list %}
  {% for page in pages_list %}
  <div class="page{% cycle 'even' 'odd' %}">
    <div class="content_list">
      <h2><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></h2>
      <div class="page_informations">
        {% block informations %}
          in <a href="{{ page.category.get_absolute_url }}">{{ page.category }}</a>
        {% endblock %}
      </div>
      <p class="page_abstract">{{ page.excerpt }}</p>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p id="no_archive_found">
  Sorry, there is no page yet.
  </p>
  {% endif %}
</div>
{% endblock %}
